# Default values for oracle.
# Oracle repository: https://github.com/lidofinance/lido-oracle

# configuration of app
kinds:
  - accounting
  - ejector
  - csm

app:
  #  Accounting Oracle (AO)
  accounting:
    el_node_rpc: "http://localhost:8545/"
    cl_node_rpc: "http://localhost:3500/"

    prometheus_port: "9000"
    healthcheck_server_port: "9010"
    keys_api_uri: "http://kapi"

    # mainnet: 0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb
    # goerli:  0x1eDf09b5023DC86737b59dE68a8130De878984f5
    # holešky: 0x28FAB2059C713A7F9D8c86Db49f9bb0e96Af1ef8
    lido_locator_address: "0x1eDf09b5023DC86737b59dE68a8130De878984f5"

    tx_gas_addition: "100000"
    daemon: "false"
    allow_reporting_in_bunker_mode: "false"
    # add secrets variables to your external config
    # member_priv_key: ""
    # member_priv_key_file: ""

  #  Validator Exit Bus Oracle (VEBO)
  ejector:
    el_node_rpc: "http://localhost:8545/"
    cl_node_rpc: "http://localhost:3500/"

    prometheus_port: "9000"
    healthcheck_server_port: "9010"
    keys_api_uri: "http://kapi"

    # mainnet: 0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb
    # goerli:  0x1eDf09b5023DC86737b59dE68a8130De878984f5
    # holešky: 0x28FAB2059C713A7F9D8c86Db49f9bb0e96Af1ef8
    lido_locator_address: "0x28FAB2059C713A7F9D8c86Db49f9bb0e96Af1ef8"

    tx_gas_addition: "100000"
    daemon: "false"
    # add secrets variables to your external config
    # member_priv_key: ""
    # member_priv_key_file: ""

  # Community Staking Module (CSM)
  csm:
    el_node_rpc: "http://localhost:8545/"
    cl_node_rpc: "http://localhost:3500/"

    prometheus_port: "9000"
    healthcheck_server_port: "9010"
    keys_api_uri: "http://kapi"

    # mainnet: 0xC1d0b3DE6792Bf6b4b37EccdcC24e45978Cfd2Eb
    # goerli:  0x1eDf09b5023DC86737b59dE68a8130De878984f5
    # holešky: 0x28FAB2059C713A7F9D8c86Db49f9bb0e96Af1ef8
    lido_locator_address: "0x28FAB2059C713A7F9D8c86Db49f9bb0e96Af1ef8"

    tx_gas_addition: "100000"
    daemon: "false"

    cache_path: "/cache"

    # holešky: 0x4562c3e63c2e586cD1651B958C22F88135aCAd4f
    csm_module_address: "0x4562c3e63c2e586cD1651B958C22F88135aCAd4f"
    # add secrets variables to your external config
    # member_priv_key: ""
    # member_priv_key_file: ""
    # pinata_jwt:     "<jwt token>"
    # gw3_access_key: "<api key>"
    # gw3_secret_key: "<api secret>"

# Kubernetes configuration
replicaCount: 1

# Version: 4.1.1
image:
  repository: docker.io/lidofinance/oracle@sha256
  tag: "41a719e64bde48fdba3877affb72bf03a4ee6f3e0dd3dbcf2b713398b3a72312"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext:
  runAsGroup: 1001
  runAsUser: 1001
  fsGroup: 1001
  seccompProfile:
    type: RuntimeDefault

securityContext:
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: false

extraEnv: []
extraEnvFrom: []

service:
  type: ClusterIP
  port: 9000

# use PersistentVolumeClaim to store cache data for CSM
cache:
  enabled: false
  storageClassName: ""
  size: "1Gi"

livenessProbe:
  failureThreshold: 3
  initialDelaySeconds: 5
  periodSeconds: 10
  successThreshold: 1
  tcpSocket:
    port: 9000
  timeoutSeconds: 2

readinessProbe:
  failureThreshold: 3
  initialDelaySeconds: 5
  periodSeconds: 10
  successThreshold: 1
  tcpSocket:
    port: 9000
  timeoutSeconds: 2

startupProbe:
  httpGet:
    path: /
    port: http
  failureThreshold: 10
  periodSeconds: 60

resources:
  limits:
    memory: 6144Mi
  requests:
    cpu: 1
    memory: 4096Mi

volumes: []
nodeSelector: {}
tolerations: []
affinity: {}
