# Default values for council.
# Council repository: https://github.com/lidofinance/lido-council-daemon

# configuration of app
app:
  el_node_rpc: "http://localhost:8545/"

  port: "3000"
  log_level: "debug"
  log_format: "json"

  ## kapi
  keys_api_host: "http://localhost"
  keys_api_port: "80"

  ## RabbitMQ
  pubsub_service: "rabbitmq"
  rabbitmq_login: ""
  rabbitmq_url: "wss://dsm-03c0383ead244e64b948.testnet.fi:443/ws"
  ## set that you need
  # rabbitmq_passcode:
  # rabbitmq_passcode_file:

  ## Wallet
  ## set that you need
  # wallet_private_key: ""
  # wallet_private_key_file: ""

# Kubernetes configuration
replicaCount: 1

image:
  repository: docker.io/lidofinance/lido-council-daemon@sha256
  tag: "2041378eb99b776c4966a51535b27251dd56abc8d8317e5b4550c817fb33613b"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext:
  runAsGroup: 1001
  runAsUser: 1001
  seccompProfile:
    type: RuntimeDefault
  fsGroup: 1001

securityContext:
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: false

extraEnv: []
extraEnvFrom: []

service:
  type: ClusterIP
  port: 3000

startupProbe:
  httpGet:
    path: /health
    port: http
  failureThreshold: 10
  periodSeconds: 60
  timeoutSeconds: 10

livenessProbe:
  httpGet:
    path: /health
    port: http
  failureThreshold: 5
  timeoutSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: http
  failureThreshold: 5
  timeoutSeconds: 10

# use PersistentVolumeClaim to store cache data
cache:
  enabled: false
  storageClassName: ""
  size: "2Gi"

resources:
  requests:
    memory: "1024Mi"
    cpu: "2"
  limits:
    memory: "2048Mi"

nodeSelector: {}
tolerations: []
affinity: {}
